{% extends 'myapp1/base.html' %}
{% load static %}

{% block title %}{{ full_art.post_title }}{% endblock %}

{% block body %}
<body class="single">

	<!-- Wrapper -->
	<div id="wrapper">

		{% block header %}
		{% include 'myapp1/header.html'%}
		{% endblock %}


		{% block content %}

			<!-- Post -->
			<div id="main">
				<!-- Post -->
				<article class="post">
					<header>
						<div class="title">
							<h2><a href="#">О нас</a></h2>
						</div>
					</header>
					<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. 
          Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, 
          ac accumsan tortor cursus at phasellus sed ultricies.</p>
				</div>
			</div>


		{% endblock %}

	</div>	


	<!-- Scripts -->
	<script src="{% static 'myapp1/js/jquery.min.js' %}"></script>
	<script src="{% static 'myapp1/js/skel.min.js' %}"></script>
	<script src="{% static 'myapp1/js/util.js' %}"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="{% static 'myapp1/js/main.js' %}"></script>

</body>
{% endblock %}

