{% extends 'myapp1/base.html' %}
{% load static %}

{% block title %}{{ full_art.post_title }}{% endblock %}

{% block body %}
<body class="single">

	<!-- Wrapper -->
	<div id="wrapper">

		{% block header %}
		{% include 'myapp1/header.html'%}
		{% endblock %}


		{% block content %}

			<!-- Post -->
			<div id="main">
				
				<!-- Post -->
				<article class="post">
					<header>
						<div class="title">
							<h2><a href="#">{{ full_art.post_title }}</a></h2>
							<p>{{ full_art.post_category }}</p>
						</div>
						<div class="meta">
							<time class="published" datetime="2015-11-01">{{ full_art.post_date | date:"F j, Y" }}</time>
							<a href="#" class="author"><span class="name">{{ full_art.post_autor }}</span><img src="{% static 'myapp1/images/avatar.jpg' %}" alt="" /></a>
						</div>
					</header>
					<span class="image featured"><img src="{% static 'myapp1/images/pic01.jpg' %}" alt="" /></span>
					<p>{{ full_art.post_full_text }}</p>
					<footer>
						<ul class="stats">
							<li><a href="#">General</a></li>
							<li><a href="#"><i class="fa-solid fa-eye" style="color: #86a8e4;"></i></a>{{ full_art.post_viev }}</a></li>
							<li><a href="#"><i class="fa-solid fa-heart" style="color: #86a8e4;"></i>{{ full_art.post_like }}</a></li>
							<li><a href="#"><i class="fa-solid fa-comment" style="color: #86a8e4;"></i>{{ full_art.post_comment }}</a></li>
							<li><a href="#"><i class="fa-solid fa-bookmark" style="color: #82b0ff;"></i>{{ full_art.post_viev }}</a></li>

						</ul>
					</footer>
				</article>
				


				<!-- Commentary form -->
				<div class="comm-line"><h3>Комментарии (698)</h3></div>
				<div class="com-form">

					<form action="{% url 'sender' %}" method="post">
						{% csrf_token %}
						{{ comment.message }}<br>
						<input type="submit" value="Отправить">
					</form>

				</div>




				<!-- Comments -->
				<div class="post">

					<div class="com-info"> 
						<a href="#" class="author"><img src="{% static 'myapp1/images/avatar.jpg' %}" alt="" /><span class="name">{{ full_art.post_autor }}</span></a>
						<time class="published" datetime="2015-11-01">{{ full_art.post_date | date:"F j, Y" }}</time>
					</div>

					<p>{{ full_art.post_full_text }}</p>
					<footer>
						<ul class="stats">
							<li><a href="#">General</a></li>
							<li><a href="#"><i class="fa-solid fa-heart" style="color: #82b0ff;"></i>{{ full_art.post_like }}</a></li>
							<li><a href="#"> <i class="fa-solid fa-comments" style="color: #82b0ff;"></i>  {{ full_art.post_comment }}</a></li>
							<li><a href="#"><i class="fa-solid fa-bookmark" style="color: #82b0ff;"></i>{{ full_art.post_viev }}</a></li>

						</ul>
					</footer>
				</div>




			</div>


			<!-- Footer -->
			<section id="footer">
				<ul class="icons">
					<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
					<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a
						href="http://unsplash.com">Unsplash</a>.</p>
			</section>

		{% endblock %}

	</div>	


	<!-- Scripts -->
	<script src="{% static 'myapp1/js/jquery.min.js' %}"></script>
	<script src="{% static 'myapp1/js/skel.min.js' %}"></script>
	<script src="{% static 'myapp1/js/util.js' %}"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="{% static 'myapp1/js/main.js' %}"></script>

</body>
{% endblock %}

